
 
 *{
list-style: none;
 }

.nav{

height: 100PX;

}
 .nav__ul {

	display: inline-block;

  color: white;
  position: relative;
  
  margin-left: 320px;
  margin-top:40PX;

}

.nav__li{

  display: inline-block;
}



.nav__li:hover > a {

	color: #CCC;
}

.nav__li:hover {

	color: #CCC;
 

}

.nav__li a {

color: white;
text-decoration: none;
margin-right: 100px;



}

.nav__li i{

	
	box-sizing: border-box;
	text-align:  center;
  margin-right: 8px;
  position: relative;
	

}

  html,body,.Map{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);

 }

 #viewDiv {
  padding: 0;
  margin: 0;
  height: 82%;
  width: 100%;
  
  
  background-color: rgb(248, 248, 248);
}

   .mapMenu{  
    background-color: rgb(141, 125, 235)  ;
    padding: 0px;
    border-style: solid;
    border-color: rgb(194, 186, 240)  ;;
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
    position: relative;
    
   }


   
    #logo{

      position: absolute;
      width: 100px;
      height: 100px;
      margin-bottom: 0px;


    }

    #titulo{
      display: inline-flex;
      position: absolute;
      margin-left: 120px;


    } 

   
    
.esri-widget{

  font-family: 'Secular One', sans-serif;
  text-align: center;
  background-color: rgb(75, 202, 202);
}

.container{

  font-family: 'Secular One', sans-serif;
  border-style: double;
  height: 100%;
}

.container h2{

  margin-left: 10px;
}


#openMenu{

  padding: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.31);

}

#closeMenu{

  padding: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.31);
}

#editor{

  padding: 5px;
  margin-bottom: 10px;
  margin-left: 5px;


  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.31);
}

#layerben{

  padding: 5px;
  margin-bottom: 10px;
  margin-left: 10px;

  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.31);


}
#layermdc{ 

  padding: 5px;
  margin-bottom: 10px;
  margin-left: 10px;

  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.31);


}

#titleForm{

  text-align: center;
  font-family: 'Secular One', sans-serif;
}

.containerForm{

  text-align: center;
  font-family: 'Secular One', sans-serif;
  border-style: solid;
  border-color: rgb(225, 173, 230);
}